/*styles go here*/

p {
	color: #000000;
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-family: 'Raleway', sans-serif;
		font-size: 2em;
}

#container{
    width: 95%;
    margin: 0 auto;
}

#nav {
    padding: 0;
	  list-style-type: none;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

li {
  padding: 0;
  list-style-type: none;
}



container {
	text-decoration: none;
}

/*tried this code below and it didn't work, still don't know how to make the photos adapt to the size of the screen*/

body p {
	display: grid;
	width: 100%;
}

a img {
	width: 100%;
}

p img {
	width: 100%;
}

/* =================================
  Flexbox
==================================== */

.container {
	display: flex;
	flex-direction: row; /*runs LTR along the horizontal axis*/
	flex-direction: row-reverse; /*reverses row to run RTL along the horizontal axis*/
	flex-direction: column; /*runs top to bottom along the vertical axis*/
	flex-direction: column-reverse;/*runs bottom to top along the vertical axis  */
}


.container {
	display: flex;
	flex-wrap: nowrap;/*The default value*/
	flex-wrap: wrap;/*Allows items to wrap*/
	flex-wrap: wrap-reverse;/*wraps items in the reverse order they are in html*/
}


.container {
	display: flex;
	flex-flow: row nowrap; /*default*/
	flex-flow: column wrap;/*example*/
}


body {
	font-size: 1em;
	font-family: 'Raleway', sans-serif;
	color: ##FFFFFF;
	background: #ffffff;
	padding-left: 5%;
	padding-right: 5%;

}
.container {
	padding: 10px;
	background: #214EB2;
  	border-radius: 5px;
	margin: 45px auto;
  	box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
}
.item {
	color: #FFFFFF;
	padding: 15px;
	margin: 5px;
	background: #214EB2;
	border-radius: 3px;
}


@media (min-width: 600px) {
	.container {
		flex-direction: row;
		justify-content: center;
	}
	.logo {
		display: none;
	}

}

@media (min-width: 800px) {
}

@media (max-width: 800px) {
	.authorbox img {
		width: 25%; }
}

@media (max-width: 600px) {
	.authorbox img {
		display: none; }
}


H2{
	text-align:left;
	font-size: 18px;
	font-family: 'Raleway', sans-serif;
}

H3{
	text-align:center;
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
}
.container2 {
	display: flex;
	flex-direction: row; /*runs LTR along the horizontal axis*/
	flex-direction: row-reverse; /*reverses row to run RTL along the horizontal axis*/
	flex-direction: column; /*runs top to bottom along the vertical axis*/
	flex-direction: column-reverse;/*runs bottom to top along the vertical axis  */
}


.container2 {
	display: flex;
	flex-wrap: nowrap;/*The default value*/
	flex-wrap: wrap;/*Allows items to wrap*/
	flex-wrap: wrap-reverse;/*wraps items in the reverse order they are in html*/
}


.container2 {
	display: flex;
	flex-flow: row nowrap; /*default*/
	flex-flow: column wrap;/*example*/
}

.item2 {
	padding: 15px;
	margin: 5px;
	border-style: solid;
	text-align: center;
	border-radius: 3px;
	flex-grow: 1;
}

@media (min-width: 600px) {
	.container2 {
		flex-direction: row;
		justify-content: center;
	}
}


/* =================================
  Collapsible Menu
==================================== */
.menu-trigger {
    order: 1;
    font-size: 1.75em;
    width: 2em;
}

@media screen and (min-width: 700px){

    nav ul {
        display: flex;
    }

    nav ul li {
        border-top: none;
    }

    .menu-trigger {
        display: none;
    }



		/* =================================
		==================================== */

		/* =================================
			Article Design Styles and Grid Code
		==================================== */


		.title {
		  display: flex;
		  justify-content: space-between;
		}

		nav ul {
		  display: flex;
		  flex-flow: column;
		}

		.authorbox img {
		  display: none;
		}

		.pullquote {
		  display: none;
			font-style: italic;
		}

		article {
			line-height: 1.5em;
			margin: 15px;
		  margin-bottom: 2.7em;filter;
		  border-bottom: 1px solid #000000;
		}



		@media screen and (min-width: 450px) {
		  nav ul {
		     flex-flow: row;
		     justify-content: space-between;
		  }
		}

		@media screen and (min-width: 600px) {
		    #container {
		        width: 80%;
		    }
		      .authorbox img {
		        display: block;
		        width: 100%;
		        margin-top: 0.5em;
		      }

		      .authorbox {
		        width: 25%;
		        max-width: 200px;
		        float: left;
		        margin-right: 20px;

		      }
		}

		@media screen and (min-width: 800px) {
		  .item1 {
		    margin-right: auto;
		  }

		  nav ul li {
		    margin: 5px;
		  }

		  .pullquote {
		    display: block;
				font-style: italic;
		  }

		}

		@media screen and (min-width: 1000px) {
		  article {
		    display: grid;
		    grid-template-columns: 200px 1fr 1fr;
		    grid-gap: 20px;
		    grid-template-areas:
		      "a b b"
		      "c c e"
		      ". d d"
		  }

		  .authorbox {
		   width: 100%;
		   grid-area: a;
		 }

		 .section1 {
		   grid-area: b;
		 }

		 .image {
		   grid-area: c;
		 }

		 .section2 {
		   grid-area: d;
		 }

		 .pullquote {
			 font-style: italic;
		   margin-top: 0;
		   grid-area: e;
		 }

		.sectional p:first-of-type, .section2 p:first-of-type {
		  margin-top: 0;
		}

		}

		@media screen and (min-width: 1200px) {
		  article {
		    display: grid;
		    grid-template-columns: 200px 1fr 1fr 1fr;
		    grid-gap: 20px;
		    grid-template-areas:
		      "a b b e"
		      "c c c ."
		      ". d d ."
		  }
		}


.social {
	display: flex;
	padding: 0px;
	width: 40px;
	text-decoration: none;
	color: white
}

}



		/* ====================================================
		These are styles that will be used later in the example.
		They're just tedious to write out.
		==================================================== */
